{% extends "@PIFront/Front/index.html.twig" %}
{% block body %}
<br><br><br><br><br><br><br><br>

    <div>
        <class>
            <h1 class="first-city">Votre emil a été envoyé avec succés ,
                L'admin se chargera de vous répondre le plus proche possible...</h1>
        </class>
    </div>
{% endblock %}