{% extends "@PIFront/Back/indexBack.html.twig" %}

{% block body %}
    <div class="form-group">
        <div class="row">
            <div class="col-lg-12">
                <section class="panel">
                    <header class="panel-heading">
                        <div>
                            <class>
                                <h1 class="first-city">Ajouter un évènement</h1>
                            </class>
                        </div>

                    </header>
                    <div class="panel-body">
                        <form method="POST" class="form-horizontal" enctype="multipart/form-data">

                            <div class="form-group">
                                <label class="col-sm-2 control-label">Catégorie</label>
                                <div class="col-sm-10">
                                    <input type="text" placeholder="" name="categorie" class="form-control" required>

                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">Nom</label>
                                <div class="col-sm-10">
                                    <input type="text" placeholder="" name="nom" class="form-control" required>

                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">Date debut</label>
                                <div class="col-sm-10">
                                    <input type="date" placeholder="" name="datedebut" class="form-control" required>

                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Date fin</label>
                                <div class="col-sm-10">
                                    <input type="date" placeholder="" name="datefin" class="form-control" required>

                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">Nombre limite </label>
                                <div class="col-sm-10">
                                    <input type="number" placeholder="" name="nbrelimite" class="form-control" required>

                                </div>
                            </div>



                            <div class="form-group">
                                <label class="control-label col-md-2">Description</label>
                                <div class="col-md-10">
                                    <textarea class="wysihtml5 form-control" name="description" rows="9"></textarea>

                                </div>
                            </div>



                  <!--   <div class="form-group">
                                <label class="col-sm-2 control-label">image</label>
                                <div class="col-sm-10">
                                    <input type="file" placeholder="" name="imageFile" class="form-control">
                                </div>
                            </div> -->

                        <!--    <div class="form-group">
                                <label class="col-sm-2 control-label">image name</label>
                                <div class="col-sm-10">
                                    <input type="text" placeholder="" name="imageName" class="form-control">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">Longitude</label>
                                <div class="col-sm-10">
                                    <input type="text" placeholder="" name="lon" class="form-control" >

                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Latitude</label>
                                <div class="col-sm-10">
                                    <input type="text" placeholder="" name="lat" class="form-control" >

                                </div>
                            </div>
                        -->

                            <input class="btn btn-success btn-lg" type="submit" value="Ajouter">
                            <td><a  class="btn btn-default btn-lg"  href="{{ path('pi_back_ajoutEve') }}">Annuler</a></td>

                        </form>
                    </div>
                </section>
            </div>
        </div>
    </div>


{% endblock %}