{% extends "@PIFront/Back/indexBack.html.twig" %}
{% block body %}

    <center>
    <div class="alert alert-danger">
        <h3 class="alert">opss !!! </h3>
       <h2 class="alert-danger">Vérifier la date de votre tâche...</h2>
<br>
        <a href="{{ path('pi_back_ajouter_tache') }}" class="btn btn-round btn-primary">Retour</a>
    </div>
    </center>
{% endblock %}